.vagas__lista {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto 5em;
}

.card__categoria {
    font-size: 1.25rem;
    color: var(--color-title);
    padding: 1em 0;
}

.card {
    width: 100%;
    margin: 1em auto;
    padding: 2em;
    border: 1px solid var(--color-input);
    border-radius: 16px;
}

.card__titulo {
    font-size: 1.15rem;
    color: var(--color-title);
}

.card__descricao {
    display: flex;
    padding: 2.5em 0 0;
}

.card__texto {
    padding-right: 1.5em;
}



@media screen and (max-width: 580px) {
    .vagas__lista {
        width: 70%;
        margin: 0 2em 6em;
    }

    .card__descricao {
        flex-direction: column;
    }

    .card__texto {
        padding-bottom: 1em;
    }
}